<div class="container">
  <div class="py-3 text-center">
    <h2>{{ title }}</h2>
    <p class="lead">{{ description }}</p>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Some title</h4>

      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userForm">

        <div class="row">
          <div class="col-md-6 mb-3">
            <app-input formControlName="firstName" [parentFormGroup]="userForm">
              <div label>First name</div>
            </app-input>
          </div>
          <div class="col-md-6 mb-3">
            <app-input formControlName="lastName" [parentFormGroup]="userForm">
              <div label>Last name</div>
            </app-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <app-input formControlName="email" [parentFormGroup]="userForm">
              <div label>E-mail</div>
            </app-input>
          </div>

          <div class="col-md-6 mb-3">
            <app-input formControlName="age" [parentFormGroup]="userForm">
              <div label>Age</div>
              <div error>
                The value must be between {{ ageMin }} and {{ ageMax }}.
              </div>
            </app-input>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-3">
            <app-input formControlName="nickname" [parentFormGroup]="userForm">
              <div label>Nickname</div>
            </app-input>
          </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      </form>
    </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')

</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>
<router-outlet></router-outlet>