<div class="container">
  <div class="py-3 text-center">
    <h2>{{ title }}</h2>
    <p class="lead">{{ description }}</p>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Some title</h4>

      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <app-input name="first-name" required>
              <div label>Last name</div>
              <div error>Valid first name is required.</div>
            </app-input>
          </div>

          <div class="col-md-6 mb-3">
            <app-input name="last-name" required>
              <div label>Last name</div>
              <div error>Valid last name is required.</div>
            </app-input>
          </div>

          <div class="col-md-6 mb-3">
            <app-input name="email" required placeholder="you@example.com" type="email">
              <div label>Email <span class="text-muted">(Optional)</span></div>
              <div error>Please enter a valid email address for shipping updates.</div>
            </app-input>
          </div>

          <div class="col-md-6 mb-3">
            <app-input name="age">
              <div label>Age</div>
              <div error>Please enter a valid email address for shipping updates.</div>
            </app-input>
          </div>

          <div class="col-12">
            <app-input name="nickname">
              <div label>Nickname</div>
              <div error>Fill the nickname!</div>
            </app-input>
          </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2019 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')

</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>
<router-outlet></router-outlet>